* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.posts {
    text-align: center;
    margin: 40px auto;
    max-width: 1000px;
}

.card {
    width: 30%;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 8px;
   
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background: #007bff;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: #0056b3;
}